In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.__version__

'1.4.0'

In [3]:
# Read all excel file
xls = pd.ExcelFile('School-Age-Digital-Connectivity.xlsx')

testing

In [4]:
df1 = pd.read_excel('School-Age-Digital-Connectivity.xlsx','Total school age', header=[1])
df1.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,UNICEF Sub-region 1,Unnamed: 4,Unnamed: 5,Rural,Urban,Poorest,Richest,Data source,Time period
0,DZA,Algeria,MENA,MENA,Upper middle income (UM),0.237807,0.091202,0.322005,0.005888,0.772502,Multiple Indicator Cluster Survey,2018-19
1,AGO,Angola,SSA,ESA,Lower middle income (LM),0.165507,0.017646,0.243431,0.000000,0.624589,Demographic and Health Survey,2015-16
2,ARG,Argentina,LAC,LAC,Upper middle income (UM),0.398849,NaN,NaN,NaN,NaN,Multiple Indicator Cluster Survey,2011-12
3,ARM,Armenia,ECA,EECA,Upper middle income (UM),0.809218,0.709329,0.883609,0.466020,0.991219,Demographic and Health Survey,2015-16
4,BGD,Bangladesh,SA,SA,Lower middle income (LM),0.366474,0.327793,0.516416,0.087617,0.758899,Multiple Indicator Cluster Survey,2019

In [5]:
df = pd.read_excel(xls, 'Total school age', header=[1])  # remove Wealth quantile and Residence to make it a single column header to easily access the data by their column name
df.rename(columns={"Unnamed: 0": "ISO3"}, inplace=True)
df.rename(columns={"Unnamed: 1": "Countries and areas"}, inplace=True)
df.rename(columns={"Unnamed: 2": "Region"}, inplace=True)
df.rename(columns={"UNICEF Sub-region 1": "Sub-region"}, inplace=True)
df.rename(columns={"Unnamed: 4": "Income Group"}, inplace=True)
df.rename(columns={"Unnamed: 5": "Total"}, inplace=True)
df.head()

,ISO3,Countries and areas,Region,Sub-region,Income Group,Total,Rural,Urban,Poorest,Richest,Data source,Time period
0,DZA,Algeria,MENA,MENA,Upper middle income (UM),0.237807,0.091202,0.322005,0.005888,0.772502,Multiple Indicator Cluster Survey,2018-19
1,AGO,Angola,SSA,ESA,Lower middle income (LM),0.165507,0.017646,0.243431,0.000000,0.624589,Demographic and Health Survey,2015-16
2,ARG,Argentina,LAC,LAC,Upper middle income (UM),0.398849,NaN,NaN,NaN,NaN,Multiple Indicator Cluster Survey,2011-12
3,ARM,Armenia,ECA,EECA,Upper middle income (UM),0.809218,0.709329,0.883609,0.466020,0.991219,Demographic and Health Survey,2015-16
4,BGD,Bangladesh,SA,SA,Lower middle income (LM),0.366474,0.327793,0.516416,0.087617,0.758899,Multiple Indicator Cluster Survey,2019

In [6]:
df = df.dropna() # drop null values cause it will bother the total percentage and it represents incompleteness

In [7]:
df.drop_duplicates() # no duplicates

,ISO3,Countries and areas,Region,Sub-region,Income Group,Total,Rural,Urban,Poorest,Richest,Data source,Time period
0,DZA,Algeria,MENA,MENA,Upper middle income (UM),0.237807,0.091202,0.322005,0.005888,0.772502,Multiple Indicator Cluster Survey,2018-19
1,AGO,Angola,SSA,ESA,Lower middle income (LM),0.165507,0.017646,0.243431,0.000000,0.624589,Demographic and Health Survey,2015-16
3,ARM,Armenia,ECA,EECA,Upper middle income (UM),0.809218,0.709329,0.883609,0.466020,0.991219,Demographic and Health Survey,2015-16
4,BGD,Bangladesh,SA,SA,Lower middle income (LM),0.366474,0.327793,0.516416,0.087617,0.758899,Multiple Indicator Cluster Survey,2019
5,BRB,Barbados,LAC,LAC,High income (H),0.659729,0.612351,0.685897,0.100025,0.979503,Multiple Indicator Cluster Survey,2012
...,...,...,...,...,...,...,...,...,...,...,...,...
78,TKM,Turkmenistan,ECA,EECA,Upper middle income (UM),0.459430,0.370646,0.582176,0.318675,0.774608,Multiple Indicator Cluster Survey,2019
79,UGA,Uganda,SSA,ESA,Low income (L),0.003246,0.000108,0.017263,0.000000,0.016122,LSMS,2015
83,UZB,Uzbekistan,ECA,EECA,Lower middle income (LM),0.190000,0.155000,0.292000,0.006740,0.694000,UNICEF Nutrition Survey 2017,2017
85,ZMB,Zambia,SSA,ESA,Lower middle income (LM),0.058168,0.017940,0.127965,0.000000,0.280698,Demographic and Health Survey,2018-19
86,ZWE,Zimbabwe,SSA,ESA,Lower middle income (LM),0.259454,0.175988,0.490904,0.044936,0.619718,Multiple Indicator Cluster Survey,2018-19

In [8]:
df[df["Rural"]>0.5]

,ISO3,Countries and areas,Region,Sub-region,Income Group,Total,Rural,Urban,Poorest,Richest,Data source,Time period
3,ARM,Armenia,ECA,EECA,Upper middle income (UM),0.809218,0.709329,0.883609,0.466020,0.991219,Demographic and Health Survey,2015-16
5,BRB,Barbados,LAC,LAC,High income (H),0.659729,0.612351,0.685897,0.100025,0.979503,Multiple Indicator Cluster Survey,2012
8,BIH,Bosnia and Herzegovina,ECA,EECA,Upper middle income (UM),0.590512,0.513842,0.757280,0.077922,0.957042,Multiple Indicator Cluster Survey,2011-12
9,BRA,Brazil,LAC,LAC,Upper middle income (UM),0.826000,0.505000,0.889000,0.841000,0.974000,Brazil Continuous National Household Sample Su...,2018
10,BGR,Bulgaria,ECA,EECA,Upper middle income (UM),0.764100,0.655502,0.805408,0.349070,0.968389,Bulgarian Longitudinal Inclusive Society Surve...,2013
15,CHL,Chile,LAC,LAC,High income (H),0.862385,0.703162,0.887359,0.727516,0.985952,CASEN,2017
18,CRI,Costa Rica,LAC,LAC,Upper middle income (UM),0.723636,0.607722,0.782152,0.456192,0.988291,Multiple Indicator Cluster Survey,2018
27,GEO,Georgia,ECA,EECA,Upper middle income (UM),0.853609,0.721164,0.934767,0.508930,0.989050,Multiple Indicator Cluster Survey,2018
35,JPN,Japan,EAP,EAP,High income (H),0.778766,0.830364,0.773485,0.620715,0.872613,The Japan Household Panel Survey,2018
39,KGZ,Kyrgyzstan,ECA,EECA,Lower middle income (LM),0.737979,0.692812,0.834642,0.539528,0.909916,Multiple Indicator Cluster Survey,2018
43,MDV,Maldives,SA,SA,Upper middle income (UM),0.697267,0.685320,0.718697,0.499847,0.927689,Demographic and Health Survey,2016-17
48,MNE,Montenegro,ECA,EECA,Upper middle income (UM),0.816516,0.735343,0.857383,0.493396,0.994773,Multiple Indicator Cluster Survey,2018-19
58,RUS,Russian Federation,ECA,EECA,Upper middle income (UM),0.888000,0.789000,0.943000,0.888000,1.000000,"Russia Longitudinal Monitoring Survey, 2018",2018
62,SRB,Serbia,ECA,EECA,Upper middle income (UM),0.944056,0.912665,0.965077,0.710498,1.000000,Multiple Indicator Cluster Survey,2019
67,LKA,Sri Lanka,SA,SA,Upper middle income (UM),0.703000,0.674000,0.862000,0.711000,0.989000,STEP Skills Measurement Household Survey 2012 ...,2012
71,THA,Thailand,EAP,EAP,Upper middle income (UM),0.714792,0.674158,0.776993,0.474594,0.958180,Multiple Indicator Cluster Survey,2562
72,MKD,North Macedonia,ECA,EECA,Upper middle income (UM),0.921479,0.902471,0.933989,0.697013,1.000000,Multiple Indicator Cluster Survey,2018-19
74,TON,Tonga,EAP,EAP,Upper middle income (UM),0.906745,0.897662,0.939951,0.828344,0.953206,Multiple Indicator Cluster Survey,2019

In [9]:
df.groupby(['Region']).mean()

           Total     Rural     Urban   Poorest   Richest
Region
EAP     0.497968  0.424291  0.567481  0.307331  0.726421
ECA     0.659829  0.576441  0.738631  0.394817  0.895325
LAC     0.437634  0.295307  0.511702  0.214515  0.801110
MENA    0.372904  0.252756  0.431987  0.127440  0.790099
SA      0.402059  0.349365  0.501465  0.243909  0.730596
SSA     0.117556  0.065675  0.194499  0.024212  0.323383

In [10]:
df.groupby(['Income Group']).mean()

                             Total     Rural     Urban   Poorest   Richest
Income Group
High income (H)           0.609016  0.517570  0.661457  0.303771  0.947551
Low income (L)            0.139940  0.085174  0.222810  0.030539  0.335427
Lower middle income (LM)  0.209423  0.136822  0.299423  0.061532  0.500385
Upper middle income (UM)  0.575366  0.474461  0.641966  0.363986  0.847056

In [11]:
df2 = pd.read_csv("fifa21 raw data v2.csv")
df2

C:\Users\kerojol\AppData\Local\Temp\ipykernel_12304\379165875.py:1: DtypeWarning: Columns (76) have mixed types. Specify dtype option on import or set low_memory=False.
  df2 = pd.read_csv("fifa21 raw data v2.csv")

,ID,Name,LongName,photoUrl,playerUrl,Nationality,Age,↓OVA,POT,Club,...,A/W,D/W,IR,PAC,SHO,PAS,DRI,DEF,PHY,Hits
0,158023,L. Messi,Lionel Messi,https://cdn.sofifa.com/players/158/023/21_60.png,http://sofifa.com/player/158023/lionel-messi/2...,Argentina,33,93,93,\n\n\n\nFC Barcelona,...,Medium,Low,5 ★,85,92,91,95,38,65,771
1,20801,Cristiano Ronaldo,C. Ronaldo dos Santos Aveiro,https://cdn.sofifa.com/players/020/801/21_60.png,http://sofifa.com/player/20801/c-ronaldo-dos-s...,Portugal,35,92,92,\n\n\n\nJuventus,...,High,Low,5 ★,89,93,81,89,35,77,562
2,200389,J. Oblak,Jan Oblak,https://cdn.sofifa.com/players/200/389/21_60.png,http://sofifa.com/player/200389/jan-oblak/210006/,Slovenia,27,91,93,\n\n\n\nAtlético Madrid,...,Medium,Medium,3 ★,87,92,78,90,52,90,150
3,192985,K. De Bruyne,Kevin De Bruyne,https://cdn.sofifa.com/players/192/985/21_60.png,http://sofifa.com/player/192985/kevin-de-bruyn...,Belgium,29,91,91,\n\n\n\nManchester City,...,High,High,4 ★,76,86,93,88,64,78,207
4,190871,Neymar Jr,Neymar da Silva Santos Jr.,https://cdn.sofifa.com/players/190/871/21_60.png,http://sofifa.com/player/190871/neymar-da-silv...,Brazil,28,91,91,\n\n\n\nParis Saint-Germain,...,High,Medium,5 ★,91,85,86,94,36,59,595
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18974,247223,Xia Ao,Ao Xia,https://cdn.sofifa.com/players/247/223/21_60.png,http://sofifa.com/player/247223/ao-xia/210006/,China PR,21,47,55,\n\n\n\nWuhan Zall,...,Medium,Medium,1 ★,64,28,26,38,48,51,NaN
18975,258760,B. Hough,Ben Hough,https://cdn.sofifa.com/players/258/760/21_60.png,http://sofifa.com/player/258760/ben-hough/210006/,England,17,47,67,\n\n\n\nOldham Athletic,...,Medium,Medium,1 ★,64,40,48,49,35,45,NaN
18976,252757,R. McKinley,Ronan McKinley,https://cdn.sofifa.com/players/252/757/21_60.png,http://sofifa.com/player/252757/ronan-mckinley...,England,18,47,65,\n\n\n\nDerry City,...,Medium,Medium,1 ★,63,39,44,46,40,53,NaN
18977,243790,Wang Zhen'ao,Zhen'ao Wang,https://cdn.sofifa.com/players/243/790/21_60.png,http://sofifa.com/player/243790/zhenao-wang/21...,China PR,20,47,57,\n\n\n\nDalian YiFang FC,...,Medium,Medium,1 ★,58,49,41,49,30,44,NaN
18978,252520,Zhou Xiao,Xiao Zhou,https://cdn.sofifa.com/players/252/520/21_60.png,http://sofifa.com/player/252520/xiao-zhou/210006/,China PR,21,47,57,\n\n\n\nDalian YiFang FC,...,Medium,Medium,1 ★,62,22,39,42,45,55,NaN

In [12]:
new_df2 = df2[['Club', 'Age']]
new_df2 = new_df2.replace('\n','', regex=True)
new_df2.groupby(['Club']).mean().sort_values(by='Age')

                                     Age
Club
Bayern München II              20.571429
FC Nordsjælland                20.846154
SC Heerenveen                  21.208333
Famalicão                      21.433333
Barnsley                       21.533333
...                                  ...
AC Mineros de Guayana          29.040000
Shanghai Greenland Shenhua FC  29.115385
Al Fayha                       29.200000
No Club                        29.316456
Qingdao Huanghai F.C.          29.360000

[682 rows x 1 columns]

In [13]:
df2 = df2.replace('\n','', regex=True)
df2 = df2[df2["Club"]=="Tottenham Hotspur"]
df2[["Club","Height","Heading Accuracy"]]

                    Club Height  Heading Accuracy
23     Tottenham Hotspur  188cm                85
36     Tottenham Hotspur  183cm                68
46     Tottenham Hotspur  188cm                10
82     Tottenham Hotspur  186cm                82
151    Tottenham Hotspur  178cm                60
162    Tottenham Hotspur  174cm                62
166    Tottenham Hotspur  188cm                81
205    Tottenham Hotspur  185cm                84
219    Tottenham Hotspur  177cm                57
228    Tottenham Hotspur  178cm                75
308    Tottenham Hotspur  187cm                80
337    Tottenham Hotspur  182cm                74
381    Tottenham Hotspur  181cm                56
382    Tottenham Hotspur  182cm                66
421    Tottenham Hotspur  185cm                63
469    Tottenham Hotspur  174cm                75
496    Tottenham Hotspur  184cm                67
512    Tottenham Hotspur  190cm                70
572    Tottenham Hotspur  176cm                50
659    Tottenham Hotspur  187cm                68
667    Tottenham Hotspur  174cm                64
828    Tottenham Hotspur  190cm                83
1005   Tottenham Hotspur  196cm                14
1756   Tottenham Hotspur  181cm                61
1892   Tottenham Hotspur  196cm                10
3997   Tottenham Hotspur  184cm                66
6641   Tottenham Hotspur  183cm                67
8290   Tottenham Hotspur  181cm                53
12804  Tottenham Hotspur  189cm                14
13538  Tottenham Hotspur  178cm                53
14169  Tottenham Hotspur  182cm                57
15189  Tottenham Hotspur  185cm                58
15209  Tottenham Hotspur  178cm                52

## Inferential Question

### `Hypothesis:` A high income group is linked with a higher percentage of children that have higher internet connection at home based on Japan's data.
#### `Question:` Is the hypothesis is also true for Chile? (Chile is also linked with high income group)

Testing the hypothesis

In [14]:
df

,ISO3,Countries and areas,Region,Sub-region,Income Group,Total,Rural,Urban,Poorest,Richest,Data source,Time period
0,DZA,Algeria,MENA,MENA,Upper middle income (UM),0.237807,0.091202,0.322005,0.005888,0.772502,Multiple Indicator Cluster Survey,2018-19
1,AGO,Angola,SSA,ESA,Lower middle income (LM),0.165507,0.017646,0.243431,0.000000,0.624589,Demographic and Health Survey,2015-16
3,ARM,Armenia,ECA,EECA,Upper middle income (UM),0.809218,0.709329,0.883609,0.466020,0.991219,Demographic and Health Survey,2015-16
4,BGD,Bangladesh,SA,SA,Lower middle income (LM),0.366474,0.327793,0.516416,0.087617,0.758899,Multiple Indicator Cluster Survey,2019
5,BRB,Barbados,LAC,LAC,High income (H),0.659729,0.612351,0.685897,0.100025,0.979503,Multiple Indicator Cluster Survey,2012
...,...,...,...,...,...,...,...,...,...,...,...,...
78,TKM,Turkmenistan,ECA,EECA,Upper middle income (UM),0.459430,0.370646,0.582176,0.318675,0.774608,Multiple Indicator Cluster Survey,2019
79,UGA,Uganda,SSA,ESA,Low income (L),0.003246,0.000108,0.017263,0.000000,0.016122,LSMS,2015
83,UZB,Uzbekistan,ECA,EECA,Lower middle income (LM),0.190000,0.155000,0.292000,0.006740,0.694000,UNICEF Nutrition Survey 2017,2017
85,ZMB,Zambia,SSA,ESA,Lower middle income (LM),0.058168,0.017940,0.127965,0.000000,0.280698,Demographic and Health Survey,2018-19
86,ZWE,Zimbabwe,SSA,ESA,Lower middle income (LM),0.259454,0.175988,0.490904,0.044936,0.619718,Multiple Indicator Cluster Survey,2018-19